.card {
    display: flex;
    flex-flow: column nowrap;
    border-radius: 5px;
    background-color: #eee;
    width: 100px;
    height: 150px;
    border: 1px solid #bbb;
}

.card .suitContainer {
    text-align: center;
    padding: 5px;
    width: min-content;
    height: 20%;
    font-size: 1.15rem;
    line-height: 70%;
}

.card .suitContainerDown {
    position: absolute;
    right: 0;
    bottom: 0;
    rotate: 180deg;
}

.flipped {
    background-color: #555;
    border: 1px solid #888;

}

.card img {
    object-fit: contain;
    width: 10px;
}

